.nav-with-input {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center !important;
  width: 100%;
  min-height: 9.438rem;
  background-image: linear-gradient(
    to bottom,
    var(--pink) 60%,
    var(--blue) 140%
  );
  margin-bottom: 20px;
}

.home-container {
  display: flex;
  height: 100vh;
}

.search-container {
  display: flex;
  position: absolute;
  width: 90%;
  margin: 0 auto;
}

.fill-height {
  height: 100%;
}

.cursorPointer {
  cursor: pointer !important;
}

.logo_nav {
  height: 40px;
  width: auto;
  margin: 0 auto;
}

.cards-container {
  width: 100vw;
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

.content-container {
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-wrap: wrap;
  margin: 14px auto;
  max-width: 57.69rem;
  width: 90%;
  padding: 1.688rem 15.86rem 1.679rem 1.914rem;
  border-radius: 4.7px;
  background-color: white;
  cursor: pointer;
}

.card img {
  width: 18.313rem;
  height: 10rem;
  margin: 0 2.397rem 0 0;
  padding: 0 0.04rem 0rem 0;
}

.card h2 {
  width: 19.143rem;
  font-family: Roboto;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--blue);
}

.card h3 {
  width: 10.79rem;
  font-family: Roboto;
  font-size: 1.5rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #8d8c8c;
}

.card p {
  width: 7.483rem;
  font-family: Roboto;
  font-size: 1.125rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #8d8c8c;
}
